<mat-card class="container">
  <mat-dialog-content class="mat-typography">
    <button
      class="complete-btn"
      mat-raised-button
      (click)="completeTask()"
      [ngClass]="viewTask.ended ? 'complete' : ''"
    ><mat-icon>done</mat-icon> Выполнено</button>
    <form class="edit-task">
      <mat-form-field class="example-full-width edit-task__title">
        <mat-label>Название задачи</mat-label>
        <textarea
        matInput
        disabled
        rows="3"
        [value]="viewTask.title"
      ></textarea>
      </mat-form-field>
      <mat-form-field class="edit-task__date">
        <mat-label>Срок выполнения</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input disabled matStartDate placeholder="Начальная дата" [value]="viewTask.beginDate">
          <input disabled matEndDate placeholder="Конечная дата" [value]="viewTask.deadline">
        </mat-date-range-input>
        <mat-hint>ДД/ММ/ГГГГ – ДД/ММ/ГГГГ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field class="edit-task__priority" [appPriority]="viewTask.priority">
        <mat-label>Приоритет</mat-label>
        <mat-select disabled [value]="viewTask.priority">
          @for (priority of priorityList; track priority) {
            <mat-option class="edit-task__priority-color" [value]="priority[1]" [appPriority]="priority[1]">{{priority[1]}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-task__status" [appStatus]="viewTask.status">
        <mat-label>Статус</mat-label>
        <mat-select disabled [value]="viewTask.status">
          @for (status of statusList; track status) {
            <mat-option class="edit-task__status-color" [value]="status[1]" [appStatus]="status[1]">{{status[1]}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-task__description">
        <mat-label>Описание</mat-label>
        <textarea
          matInput
          disabled
          rows="3"
          [value]="viewTask.description"
        ></textarea>
      </mat-form-field>
    </form>
    <mat-dialog-actions class="edit-task__controls">
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="cancelEdit()"
      >Закрыть</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</mat-card>