@import './styles/colors.scss';

.mini-task {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
  cursor: pointer;

  &__complete {
    padding-left: 20px;
    flex-shrink: 0;
  }

  &__name {
    width: 100%;
    text-align: left;
    flex-shrink: 2;
    padding: 0 20px;
  }

  &__deadline {
    min-width: fit-content;
    padding: 0 20px;
    padding-right: 60px;
    flex-shrink: 1;
  }

  &__prioriy {
    flex-shrink: 1;
    width: 60px;
    height: 50px;
    overflow: hidden;
  }

  &__prioriy-color {
    width: 120px;
    height: 120px;
    transform: rotate(45deg) translateX(-30px) translateY(60px);
  }

  &__delete {
    position: absolute;
    right: 5px;
    transition: .3s;
    opacity: 0;
  }
}

.mini-task__priority_low {
  background-color: $priority-low-color;
}

.mini-task__priority_medium {
  background-color: $priority-medium-color;
}

.mini-task__priority_high {
  background-color: $priority-high-color;
}

.mini-task:hover {
  background-color: ghostwhite;

  .mini-task__delete {
    opacity: 1;
  }
}