<table class="table table-striped">
  <thead>
    <tr style="border-bottom: 1px solid black;">
      @for (column of tableColumn; track column) {
        <th class="table__header" cdk-header-row>
          <div class="table__title-box">
            <span class="table__title">{{column.title}}</span>
            @if (column.name === 'ended'
              || column.name === 'deadline'
              || column.name === 'priority'
              || column.name === 'status'
              ) {
                <app-filter
                  [filterList]="getFilterValue(column.name)"
                  [field]="column.name"
                  (selectedFilter)="filterBy($event, column.name)"
                ></app-filter>
            }
            <button mat-icon-button (click)="sortBy(column.name)" class="sort__btn">
                @if (sortProperty === column.name) {
                    @switch (sortOrder) {
                      @case (0) {
                        <mat-icon> import_export</mat-icon>
                      }
                      @case (1) {
                        <mat-icon style="transform: scale(1, -1)">sort</mat-icon>
                      }
                      @case (-1) {
                        <mat-icon>sort</mat-icon>
                      }
                    }
                } @else {
                  <mat-icon> import_export</mat-icon>
                }
            </button>
          </div>
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (task of tasks; track task.id) {
    <tr class="table__row" [routerLink]="['/task', task.id]">
        <td class="table__data">{{task.ended ? 'Выполнено': 'Не выполнено'}}</td>
        <td class="table__title-column">
          <p class="table__task-name">
            {{task.title}}
          </p>
          </td>
        <td class="table__data table__date-column">{{task.beginDate | date: "dd.MM.YYYY":"":"ru"}}</td>
        <td class="table__data table__date-column">{{task.deadline | date: "dd.MM.YYYY":"":"ru"}}</td>
        <td class="table__data table__priority-column">
          <span class="table__priority" [appPriorityTask]="task.priority">{{task.priority}}</span>
        </td>
        <td class="table__data table__status-column">
          <span class="table__status" [appStatus]="task.status">{{task.status}}</span>
        </td>
    </tr>
    }
  </tbody>
</table>